<form>
    <legend>Cadastro</legend>
    <fieldset>
        <input type="number" id="number" placeholder="Número">
    </fieldset>
    <fieldset>
        <input type="text" id="number" placeholder="Nome">
    </fieldset>
    <fieldset>
        <input type="text" id="type" placeholder="Tipo">
    </fieldset>
    <fieldset>
        <input type="url" id="img" placeholder="Imagem">
    </fieldset>
    <fieldset>
        <input type="text" id="description" placeholder="Descrição">

    </fieldset>
    <fieldset>
        <input type="number" id="height" placeholder="Altura">
    </fieldset>
    <fieldset>
        <input type="number" id="peso" placeholder="Peso">
    </fieldset>
    <fieldset>
        <input type="text" id="category" placeholder="Categoria">
    </fieldset>
    <fieldset>
        <input type="text" id="hability" placeholder="Habilidade">
    </fieldset>
    <fieldset>
        <input type="color" id="color" placeholder="Cor">
    </fieldset>
    </fieldset>
    <button type="submit">Cadastrar</button>
</form>