<footer>
    <section>
        <img src="/img/pokeball.png" alt="pokebola" />
    </section>
    <section id="footer_info">
        <p>Armazenamento pokemon de confiança.</p>
        <p>© Dhainara 2022.Todos os diretos reservados.</p>
    </section>
    <section id="footer_info">
        <a href="linkedin.com"><i class="bi bi-linkedin"></i></a>
        <a href="github.com"><i class="bi bi-github"></i></a>
    </section>
</footer>