<header>
    <a href="/"><img src="/img/pokeball.png" alt="pokebola" /></a>
    <nav>
        <p><a href=""><i class="bi bi-house"></i>Inicio</a></p>
        <p><a href="/cadastro"><i class="bi bi-book"></i>Cadastro</a></p>
    </nav>
</header>