<header>
    <nav>
        <a href="/"><img src="/img/pokeball.png" alt="pokebola" /></a>
        <ul>
            <li><a href="#banner_Cad">Cadastro</a></li>
        </ul>
    </nav>
    <% if(mensagem != ""){ %>
    <section id="mensagem">
      <p><%=mensagem%></p>
      <span id="close">&times;</span>
    </section>
    <% } %>
</header>