<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/cadastro.css" rel="stylesheet" />
    <title>Cadastro</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <section id="cadscreen">
            <article class="cadscreen">
                <div class="cad_img">
                    <img src="/img/cadastro-unscreen.gif" alt="pokemonimg" />
                </div>
                <div class="cad_form">
                    <%- include('./partials/cadastroPartial.ejs')%>
                </div>
            </article>
            
        </section>
    </main>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>